@media (max-width: 390px) {

    /* BODY */

    /* HEADER */

    header {
        display: flex;
        padding: 20px;
    }

    #nav-itens {
        display: none;
    }

    /* MENU COLLAPSE */

    #menu {
        position: absolute;
        background-color: #ff9b6cc7;
        top: 50px;
        right: 20px;
        z-index: 1;
        text-align: center;
        border: 2px solid #000000b0;
        border-radius: 8px;
    }

    #menu a {
        border: 0;
    }

    #menu a:hover {

        cursor: default;
    }

    #menu-collapse {
        display: block;
        cursor: pointer;
    }

    #menu-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #menu-container nav {
        padding: 10px;

    }

    #menu-container nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #menu-container nav li {
        padding: 8px 0;

    }

    hr {
        border: none;
        height: 2px;
        background-color: #000000;
    }

    /* MAIN */

    #start {
        flex-direction: column;
        padding: 16px;
    }

    #start img {
        width: 300px;
    }

    #shape {
        top: 235px;

    }

    #start h1 {
        font-size: 20px;
        text-align: center;
    }

    #start p {
        font-size: 16px;
        text-align: center;
    }

    .btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4px;
    }

    .btn {
        width: 250px;
    }

    .btn-transparent {
        width: 300px;
        text-align: center;
    }

    #clinic {
        padding: 4px;
        flex-direction: column-reverse;
        gap: 32px;
    }

    #clinic h2,
    #doubts h2 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 0;
    }

    #clinic p,
    #pharmacy p {
        font-size: 16px;
        text-align: center;
        padding: 30px;
        margin-bottom: 0;
    }

    #clinic ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 10px;
    }

    #clinic li {
        font-size: 14px;
    }

    #clinic img {
        display: block;
        width: 300px;
    }

    #pharmacy {
        padding: 4px;
        gap: 10px;
    }

    #pharmacy h2 {
        font-size: 20px;
    }

    #pharmacy img {
        width: 300px;
        margin: 0;
    }

    #doubts {
        flex-direction: column;
        padding: 4px;
        gap: 20px
    }

    #doubts>img {
        width: 300px;
        margin-top: -30px;
    }

    .doubt {
        width: 330px;
    }

    .doubt h3 {
        padding: 10px;
    }

    .doubt img {
        width: 14px;
        top: 20px;
        left: 300px;
    }

    .doubt p {
        font-size: 14px;
        padding: 12px;
        width: 330px;
        margin-bottom: 0;
    }

    /* FOOTER */

    footer {
        flex-direction: column;
        margin-top: 30px;
        align-items: center;
        gap: 20px;
        padding: 28px;
    }

    footer>div {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }

    footer>div>img {
        width: 150px;
        margin: 0;
    }

    footer p {
        font-size: 14px;
    }

    footer strong {
        margin: 0 0 4px;
    }

    footer nav a {
        font-size: 14px;
    }

    .contact a {
        margin-top: 1px;
    }

    .contact p,
    .contact img {
        margin-bottom: 0;
    }

    .contact a,
    .contact p {
        font-size: 14px;
    }

    .contact img {
        width: 20px;
    }
}