@media (min-width: 768px) and (max-width: 1279px) {

    /* BODY */

    /* HEADER */

    #visible a {
        transition: .1s ease;
    }

    #visible a:hover {
        color: #FFFFFF;
        border: 0;
        cursor: default;
    }

    /* MAIN */

    #start>div>h1 {
        margin-top: 50px;
    }

    .img-clinic {
        margin-top: -50px;
        width: 480px;
    }

    #pharmacy img {
        width: 645px;
    }

    #pharmacy h2 {
        margin-top: 30px;
    }

    #doubts {
        flex-direction: row;
        justify-content: center;
    }

    #doubts img {
        margin: 0;
    }

    /* FOOTER */

    footer {
        flex-direction: row;
    }
}